apiVersion: v1
kind: Service
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: '{"apiVersion":"v1","kind":"Service","metadata":{"annotations":{"metallb.universe.tf/ip-allocated-from-pool":"first-pool"},"creationTimestamp":"2024-12-05T04:10:22Z","labels":{"app":"istio-ingressgateway","app.kubernetes.io/instance":"istio","app.kubernetes.io/managed-by":"Helm","app.kubernetes.io/name":"istio-ingressgateway","app.kubernetes.io/part-of":"istio","app.kubernetes.io/version":"1.24.0","helm.sh/chart":"istio-ingress-1.24.0","install.operator.istio.io/owning-resource":"unknown","istio":"ingressgateway","istio.io/rev":"default","operator.istio.io/component":"IngressGateways","release":"istio"},"name":"istio-ingressgateway","namespace":"istio-system","resourceVersion":"552581","uid":"dfad83c0-fd6a-4141-91e4-0815b1411fb3"},"spec":{"allocateLoadBalancerNodePorts":true,"clusterIP":"10.96.191.30","clusterIPs":["10.96.191.30"],"externalTrafficPolicy":"Cluster","internalTrafficPolicy":"Cluster","ipFamilies":["IPv4"],"ipFamilyPolicy":"SingleStack","ports":[{"name":"status-port","nodePort":30625,"port":15021,"protocol":"TCP","targetPort":15021},{"name":"http2","nodePort":30476,"port":80,"protocol":"TCP","targetPort":8080},{"name":"https","nodePort":31060,"port":443,"protocol":"TCP","targetPort":8443},{"name":"tcp","nodePort":30107,"port":31400,"protocol":"TCP","targetPort":31400},{"name":"tls","nodePort":31688,"port":15443,"protocol":"TCP","targetPort":15443}],"selector":{"app":"istio-ingressgateway","istio":"ingressgateway"},"sessionAffinity":"None","type":"NodePort"}}

      '
    metallb.universe.tf/ip-allocated-from-pool: first-pool
  labels:
    app: istio-ingressgateway
    app.kubernetes.io/instance: istio
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: istio-ingressgateway
    app.kubernetes.io/part-of: istio
    app.kubernetes.io/version: 1.24.0
    helm.sh/chart: istio-ingress-1.24.0
    install.operator.istio.io/owning-resource: unknown
    istio: ingressgateway
    istio.io/rev: default
    operator.istio.io/component: IngressGateways
    release: istio
  name: istio-ingressgateway
  namespace: istio-system
spec:
  clusterIP: 10.96.191.30
  ports:
  - name: status-port
    port: 15021
    protocol: TCP
    targetPort: 15021
  - name: http
    port: 80
    protocol: TCP
    targetPort: 8080
  - name: https
    port: 443
    protocol: TCP
    targetPort: 8443
  - name: tcp
    port: 31400
    protocol: TCP
    targetPort: 31400
  - name: tls
    port: 15443
    protocol: TCP
    targetPort: 15443
  selector:
    app: istio-ingressgateway
    istio: ingressgateway
  sessionAffinity: None
  type: LoadBalancer
